a{
	text-decoration: none;
	color:black;
}
th{
	border-top: solid 2px #aaaaaa;
   	background-color: #4d6083;
   	color:white;
}
tr{
	background-color: #e6efff;
}
	.boardCot{
	display: inline-block; 
	width: 80%; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	
} 








/* 게시판 페이지의 좌측 */
aside {
    width:300px;
    float:left;
}
/* 로그인 */
#login_box {
    width:220px;
    height:160px;
    border:solid 1px #203864;
    border-radius:10px;
    background-color: white;
    position:realative;
}



aside #sub_menu{
    float: left;
    left:20px;
    width: 10em;
    margin-right: 1em;
    position: relative;
    height: 580px;
}


aside #sub_menu ul{ 
	list-style: none;
	
	
	
	 }
aside #sub_menu h4{
	text-align:center;
	color:white;
	background-color: #203864;
    padding: 5px 10px;
    border-bottom: 1px solid black;
    }
 
aside #sub_menu ul li{
	text-align: center;
    background-color: #203864;
    padding: 5px 10px;
    border-bottom: 1px solid black;
    
}
 
aside #sub_menu ul li a{
    color: white;
    text-decoration: none;
   
}
 
 aside #sub_menu ul li:hover{

    background-color:#5f6caf;
   

}
aside #sub_menu ul li a:hover{
	color:black;
	background-color:#5f6caf;
 
}
 
button.btn1 {
 	font-size:20px;
 	width:110px;
 	margin-top:50px;
 	margin-left:55px;
	color:white;
	background-color: #203864;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
button.btn2 {

  	margin-left:130px;
  	font-weight:bold;
	margin-top:10px;
	background-color: white;
	border: 0px;
    
    
}


button.btn3 {
 	margin-left:29px;
	font-weight:bold;
	margin-top:10px;
	background-color: white;
	border: 0px;
}
button.btn4 {
 	margin-left:18px;
	font-weight:bold;
	margin-top:10px;
	background-color: white;
	border: 0px;
}
button.btn5 {
 	margin-left:23px;
	font-weight:bold;
	margin-top:10px;
	background-color: white;
	border: 0px;
}
button.btn6 {
	margin-left:27px;
	font-weight:bold;
	margin-top:10px;
	background-color: white;
	border: 0px;
}
button.btn7 {
	margin-top:7px;
	margin-left:130px;
 	color:white;
	background-color: #203864;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
#sys{
	background-color: #203864;
    padding: 5px 10px;
    border-bottom: 1px solid black;
    text-align: center;
    display: inline-block;
    margin-top: 22px;
    margin-left: 55px;
}