@charset "UTF-8";
ul input{
	background-color:#4d6083;
    color: white;
    border: 0;
    text-align: center;
}
li {
    list-style-type: none;
    
}

.subMenu {
    padding: 0;
    visibility: hidden;
    background-color:#4d6083;
    box-shadow: 3px 3px 3px black;
    position: absolute;
   	
}

.subMenu li{
    padding: 8px;
    display:block;
    margin:0;
    font-size:13px;
}

.subMenu li:hover {
    background-color:#3f4f6b ;
    color: white;

}

.menu {
    margin-left: 8px;
    padding: 8px;
    background-color:#4d6083;
    color: white;
}

.menu:hover {
    background-color:#3f4f6b;
    color: white;
}
.menu:hover input {
    background-color:#4d6083;
    color: white;
}

.subMenu li:hover input {
    color: white;
    background-color:#3f4f6b;
}